# Question:1

In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 
+	
6

# Answer :1

# values are
'hello'
-87.8
6

# expressions are
*
-
/
+

# Question: 2

What is the difference between string and variable?

# Answer: 2

In [2]:
# String is a array of characters 
# It is quoted by single or double quote
a = "Welcome"
b = 'Python assignments'
print(a)
print(b)

Welcome
Python assignments

In [4]:
# Variable stores a data 
c = 23
print(c)
# c variable assigned by value '23'
# a,b variables are assigned by strings

23

# Question: 3

Describe three different data types.

# Answer: 3

In [9]:
# Data type is arranging data in same groups
# 1. Text type 
a = "Welcome back"
b = str('Python')
print(type(a))
print(type(b))

# 2. Numeric type: int, float
c = 5      # int 
# c = int(5) using constructor
d = 6.2    # float
# d = float(5.2) using constructor
print(type(c))
print(type(d))

# 3. Dictionary type: It has key:value pair concept
d1 = {"name": "sambath", "age":35, "state":"Tamilnadu"}
print(type(d1))
# key will be called to get value

<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'dict'>

# Question: 4

What is an expression made up of? What do all expressions do?

# Answer: 4

In [10]:
# Experssion made up of operators, data and variables
a = 10
s1 = a + 15   # a, s1:variable, 15 is integer data
print(s1)

# Expressions perform an operation
# The above expression perform an addition operation
print("sambath"+" "+"kumar")
# It concatenates strings

25
sambath kumar

# Question: 5

This assignment statements, like spam = 10. What is the difference between an expression and a statement?

# Answer: 6

In [11]:
# statements
"""
It assign value or string into a variable
eg:
a = 5
b = "sambath"

It displays a data
print("sambath kumar")
"""

# Expression
"""
It perform an operation and produce a data
s2 = 23 + 12
Here, 35 value created with an operator 
"""

a = 5
b = "sambath"
print("sambath kumar")

s2 = 23 + 12
print(s2)

sambath kumar
35

# Question: 6

In [14]:
# After running the following code, what does the variable bacon contain?
bacon = 22   # now it has 22
bacon + 1    # bacon again have 22

print(bacon)   # 22

# If bacon += 1   or bacon = bacon + 1
bacon += 1  # then 23
print(bacon)

22
23

# Answer: 6

In [15]:
# bacon = 22

# Question: 7

What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

# Answer: 7

In [17]:
# 'spam' and 'spamspam' concatenate with + operator
print('spam'+'spamspam')   

# 'spam' multiplied or repeated 3 times
print('spam'*3)

spamspamspam
spamspamspam

# Question: 8

Why is eggs a valid variable name while 100 is invalid?

# Answer: 8

A variable does not start with numbers but it may have in other places 
It starts from alphabets or _

In [19]:
a1 = 3
_a = 4
a0_12 = 5
eggs = "chicken egg"   # it has alphabets only, a valid variable name
# 100 variable starts from 1 which is invalid

# Question: 9

What three functions can be used to get the integer, floating-point number, or string version of a value?

# Answer: 9

In [24]:
# constructors or functions are used to generate int, float and string

print(type(int(23.5)))
print(type(float(10)))
print(type(str("sambath")))
print(type(str(20)))     # number 20 converted into a string

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

# Question: 10

Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

# Answer: 10

In [25]:
# The same data type can be added
# The above example has string and int 
print('I have eaten ' + 99 + ' burritos.')

# Due to integer '99' which produce an error

TypeError: can only concatenate str (not "int") to str

In [27]:
# conver '99' into string then execute a statement

print('I have eaten ' + '99' + ' burritos.')   # using quotes
print('I have eaten ' + str(99) + ' burritos.')  # using 'str' function

I have eaten 99 burritos.
I have eaten 99 burritos.